<div>トップ絵</div>
<div class="exprain-box">
  <div class="text-box">
    <h3 class="exprain-head">text head</h3>
    <div class="exprain-text">text</div>
  </div>
  <img src="">
</div>

<div class="exprain-box">
  <div class="text-box">
    <h3 class="exprain-head">text head</h3>
    <div class="exprain-text">text</div>
  </div>
  <img src="">
</div>

<h1>さぁ、今すぐ始めよう！</h1>
<div class="button">
  <%= link_to "新規登録", new_user_registration_path, class: "sign_up" %>
  <%= link_to "ログイン", new_user_session_path, class: "sign_in" %>
</div>
