<div class="top">
  <div class="top_logo"></div>
  <div class="intro1"></div>
  <div class="intro2"></div>
  <div class="intro3"></div>
  <div class="intro4"></div>

  <h1>さぁ、今すぐ始めよう！</h1>
  <div class="button">
    <%= link_to  new_user_registration_path, class: "sign_up edit_link" do %>
      <div class="blue_btn">新規登録</div>
    <%end%>
    <%= link_to  new_user_session_path, class: "sign_in edit_link" do %>
      <div class="green_btn">ログイン</div>
    <%end%>
  </div>
  <div><%= link_to "ゲストログイン(閲覧用)", homes_guest_sign_in_path, method: :post %></div>
</div>
