/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// 主に使用する色
$white: #F2F2F2;
$green: #4F8C32;
$light_blue: #A0D3D9;
$blue: #394D59;
$navy_blue: #141F26;

$space: 30px;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

//scssのmixinを記述
@mixin button{
  text-align: center;
  line-height: 50px;
  border-radius: 15px;
  color: white;
  margin: 0 auto;
  &:hover{
    color: pink;
    border: 2px solid;
  }
}

// 複数のページで用いるレイアウトはこちらに記載
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  .info{
    width: 20%;
    border: 10px outset #CCFFCC;
    background-color: white;
    h3{
      margin-top: 20px;
      background-color: #EEEEEE;
    }
  }
  .main{
    width: 60%;
    border: 10px outset #CCFFCC;
    background-color: white;
  }
}

.edit_link{
  text-decoration: none;
  color: black;
  width: 100px;
  height: 50px;
}

.green_btn{
  @include button;
  width: 100px;
  height: 50px;
  background-color: $green;
}

.blue_btn{
  @include button;
  width: 100px;
  height: 50px;
  background-color: blue;
}

.red_btn{
  @include button;
  width: 150px;
  height: 50px;
  margin: 30px auto;
  background-color: red;
}

.big_btn{
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: $green;
  color: white;
  border: 0;
  &:hover{
    color: pink;
    border: 2px solid;
  }
}

//form
.text_form{
  width: 40%;
  margin: 0 auto;
  border: 10px outset #CCFFCC;
  background-color: white;
  .field{
    padding-bottom: $space;
    display: flex;
    justify-content: space-between;
    .text_area{
      width: 200px;
      height: 100px;
    }
  }
  .action{
    display: flex;
    justify-content: center;
  }
}

// image
.image{
  border-radius: 30px;
}

// paginate
.paginate{
  text-align: center;
  margin: $space 0;
}



//application
.notice{
  position : absolute;
  left: 0;
  right: 0;
  top: 70px;
  text-align: center;
  background-color: blue;
  color: white;
}
.alert{
  position : absolute;
  left: 0;
  right: 0;
  top: 70px;
  margin : 0 auto;
  text-align: center;
  background-color: red;
  color: white;
}


body{
  background-color: $white;
  // 最下部にフッターを固定させるための記述
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  .header{
    top: 0;
    width: 100%;
    background-color: #A0D3D9;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .logo{
      width: 300px;
      height: 70px;
      margin-left: 50px;
      background-image:image-url("large_logo.png");
      background-color: $light_blue;
      background-size: cover;
    }
    ul{
      margin-right: 50px;
      display: flex;
      flex-direction: row-reverse;
      list-style: none;
      align-items: center;
      .edit_link{
        li{}
      }
    }
  }
  .footer{
    background-color:#141F26;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    // 文字の中央寄せ
    display: flex;
    justify-content: center;
    align-items: center;
    div{
      color: white;
    }
  }
}