// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$space: 30px;



// showページ
.group_show{

  .info{
    text-align: center;
    .type{
      margin-bottom: 30px;
    }
    .image{
      margin-bottom: $space;
    }
    .name{
      margin-bottom: $space;
    }
    .intro{
      margin-bottom: $space;
    }
    .edit_link{
      div{
        //ボタンはapplication.scssに定義済み
      }
    }
  }


  .main{
    // workグループ
    .work{
      text-align: center;
      .data{
        .area{
          .text_area{
          border-radius: 5px;
          height: 50px;
          width: 200px;
        }
        .text_area:focus {
          outline: none;
          border: 2px solid #4F8C32;
        }
        }

        .edit_link{
          margin: 15px 15px;
          div{
            //application.scssに定義済み
          }
        }
      }
      .calendar{
        width: 300px;
        height: 200px;
      }
      .target{
        table{
          table-layout: auto;
          width: 90%;
          margin: 0 auto 30px;
          thead{

            tr{

              .th1{
                padding: 5px;
                width: 20%
              }
              .th2{
                padding: 5px;
                width: 50%;
              }
              .th3{
                padding: 5px;
                width: 20%;
              }
            }
          }
          tbody{
            tr{

              .td1{
                text-align: center;
              }
              .td2{
                text-align: center;
              }
              .td3{
                text-align: center;
              }
            }
          }
        }
      }
      .memo{
        table{
          table-layout: auto;
          width: 90%;
          margin: 0 auto;
          thead{

            tr{

              .th1{
                padding: 5px;
                width: 20%
              }
              .th2{
                padding: 5px;
                width: 50%;
              }
              .th3{
                padding: 5px;
                width: 20%;
              }
            }
          }
          tbody{
            tr{

              .td1{
                text-align: center;
              }
              .td2{
                text-align: center;
              }
              .td3{
                text-align: center;
              }
            }
          }
        }
      }
      .graph{
        .graph_size{
        }
      }
    }

    // friendグループ
    .friend{
      text-align: center;
      h3{
        text-align: center;
      }
      .comment{
        text-align: center;
        .area{}
        .action{
          margin-bottom: $space;
        }
      }

      .messages{
        .content{
          display: flex;
          margin-bottom: 10px;
          .icon{
            text-align: center;
            width: 10%;
            .name{}
          }
          .text{
            justify-content: start;
            width: 70%;
            background-color: #A0D3D9;
            border-bottom: solid 7px #394D59;
            border-radius: 10px;
            padding: 10px;
          }
          .reaction{
            text-align: center;
            width: 20%;

            .time{
              margin-top: 10px;
            }
            .stamp{
              display: flex;
              .true_stamp_1{
                background-image: image-url("true_good.png");
                width: 16px;
                height: 16px;
                margin: 10px;
              }
              .stamp_1{
                background-image: image-url("good.png");
                width: 16px;
                height: 16px;
                border: 0;
                color: rgba(255,0,0,0);
                margin: 10px;
              }
              .true_stamp_2{
                background-image: image-url("true_link.png");
                width: 16px;
                height: 16px;
                margin: 10px;
              }
              .stamp_2{
                background-image: image-url("link.png");
                width: 16px;
                height: 16px;
                border: 0;
                color: rgba(255,0,0,0);
                margin: 10px;
              }
              .true_stamp_3{
                background-image: image-url("true_question.png");
                width: 16px;
                height: 16px;
                margin: 10px;
              }
              .stamp_3{
                background-image: image-url("question.png");
                width: 16px;
                height: 16px;
                border: 0;
                color: rgba(255,0,0,0);
                margin: 10px;
              }
            }
            .edit_link{
              .red_btn{
                width: 50px;
                height: 50px;
                margin: 0 0 0 auto;

              }
            }
          }
        }
      }
    }
  }
}


// index
.group_index{
  h3{
    text-align: center;
    padding-bottom: $space;
  }

  .borderless_table{
    width: 45%;
    margin: 0 auto;
    border: 10px outset #CCFFCC;
    background-color: white;
    thead{

      tr{

        .th1{
          padding: 5px;
          width: 100px;
        }
        .th2{
          padding: 5px;
          width: 200px;
        }
        .th3{
          padding: 5px;
          width: 100px;
        }
      }
    }
    tbody{
      tr{

        .td1{
          text-align: center;
        }
        .td2{
          text-align: center;
        }
        .td3{
          text-align: center;
        }
      }
    }
  }

}


// edit
.text_area{
  border-radius: 5px;
  height: 50px;
  width: 200px;
}
.text_area:focus {
  outline: none;
  border: 2px solid #4F8C32;
}