// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$space: 30px;


.user_show{
* {text-align:center;}
  .info{
    .image{
      border-radius: 30px;
      margin-bottom: $space;
    }
    .name{
      margin-bottom: $space;
    }
    .intro{
      margin-bottom: $space;
    }
    .edit_link{
      div{

      }
    }
  }
  .main{
    .group{
      .container{
        display: flex;
        justify-content: space-around;
        .group_rank{
          background-color: #DDDDDD;
          border: double 6px white;
          border-radius: 10px;
          width: 150px;
          height: 200px;
          .head{

          }
          .name{

          }
          .type{

          }
        }
      }
      .group_button{
        width: 300px;
        margin: $space auto;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

// quick_form
.quick_form{
  h3{
    text-align: center;
    padding-bottom: $space;
  }

  .borderless_table{
    table-layout: fixed;
    width: 800px;
    margin: 0 auto;
    border: 10px outset #CCFFCC;
    background-color: white;
    text-align: center;
    thead{

      tr{
        .th1{
          padding: 5px;
          width: 150px;
        }
        .th2{
          padding: 5px;
          width: 250px;
        }
        .th3{
          padding: 5px;
          width: 150px;
        }
      }
    }
    tbody{
      tr{

        .td1{
          text-align: center;
        }
        .td2{
          text-align: center;
        }
        .td3{
          text-align: center;
        }
      }
    }
  }

}
